.header
  height 150px
  text-align center
  position relative

  +bp(mobile)
    height auto

  .facebook
    position absolute
    top 0
    left 0
    margin 16px

    +bp(mobile)
      position relative


  .logo
    padding 27px 0 0

    +bp(mobile)
      padding-top 10px

      img
        width 119px
        height 61px

  .messages-count
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    vertical-align: 3px;
    padding: 0 0 0 5px;

  .messages-invitation
    text-align left
    padding 10px 0 0
    font-size 12px
    max-width 85px

    +bp(mobile)
      text-align center
      margin 0 50px
      padding 10px 0
      max-width 99999px

  &__languages
    position absolute
    top 6px
    right 4px

    .with-overlay &
      z-index $z-index-overlay-component

  &__language
    display inline-block
    text-align center
    height 24px
    line-height @height + 1
    width @height
    border 1px solid transparent
    border-radius 50%
    color $c-link
    cursor pointer
    text-decoration none

    &.is-active
      border-color $c-link

  &__language-overlay
    position absolute
    top 0
    right 20px
    background url('../img/arrow-3.png') no-repeat right top
    padding 22px 36px 0 0
    margin 30px 0 0 -200px

    +bp(mobile)
      margin 20px 0 0

    .overlay__tooltip
      white-space no-wrap
