.icon
  display inline-block
  background url('../img/icons-sprite.png')
  width 38px
  height 38px
  background-size 76px 342px
  background-repeat no-repeat
  background-position -38px 0

  &:hover,
  &.active
    background-position 0 0

  &.icon-chevron-left
    background-position -38px 0
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 0

  &.icon-chevron-right
    background-position -38px -38px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -38px

  &.icon-edit
    background-position -38px -76px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -76px

  &.icon-share
    background-position -38px -114px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -114px

  &.icon-email
    background-position -38px -152px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -152px

  &.icon-facebook
    background-position -38px -190px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -190px

  &.icon-ok
    background-position -38px -228px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -228px

  &.icon-help
    background-position -38px -266px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -266px

  &.icon-close
    background-position -38px -304px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -304px
