// Layout Styles
// =============

html,
body
  width 100%
  height 100%
  margin 0
  min-height 600px
  background $c-bg
  font-family Avenir, 'Avenir Next', Helvetica, Arial, sans-serif
  color $c-link
  font-size 14px

  +bp(mobile)
    height auto
    min-height auto

body.lang-ru-en
  font-family "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif

a
  color $c-link

.only-mobile
  +bp(tablet desktop large)
    display none!important

.hide-mobile
  +bp(mobile)
    display none!important
