@import 'nib'

global-reset()

$c-text = #8F8F8F
$c-link = #A97C50
$c-text-dark = #515151

// Breakpoints
// ===========
media_queries = {
  mobile  : "(max-width: 567px)",
  tablet  : "(min-width: 568px) and (max-width: 939px)",
  desktop : "(min-width: 940px) and (max-width: 1199px)",
  large   : "(min-width: 1200px)"
}

bp(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}


// Animations
// ==========
@keyframes cursor {
  from {
    opacity 0
  }
  5% {
    opacity 1
  }
  50% {
    opacity 1
  }
  55% {
    opacity 0
  }
  to {
    opacity 0
  }
}

// Layout Styles
// =============

.only-mobile
  +bp(tablet desktop large)
    display none!important

.hide-mobile
  +bp(mobile)
    display none!important

// Main Styles
// ===========

html,
body
  width 100%
  height 100%
  margin 0
  min-height 600px
  // min-width 768px
  background #F0ECE3
  font-family Avenir, 'Avenir Next', Helvetica, Arial, sans-serif
  color $c-link
  font-size 14px

  +bp(mobile)
    height auto
    min-height auto

a
  color $c-link

.header
  height 150px
  text-align center
  position relative

  +bp(mobile)
    height auto

  .headnote
    position absolute
    top 4px
    right 0
    font-size 13px
    margin 16px

    +bp(mobile)
      position relative
      top 0

    a
      text-decoration none
      &:hover
        text-decoration underline

  .facebook
    position absolute
    top 0
    left 0
    margin 16px

    +bp(mobile)
      position relative


  .logo
    padding 27px 0 0

    +bp(mobile)
      padding-top 10px

  .messages-count
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    vertical-align: 3px;
    padding: 0 0 0 5px;

.message-wrapper
  display table
  height 100%
  width 100%
  max-width 1200px
  padding 150px 0 195px
  margin -150px auto -195px
  box-sizing border-box

  +bp(mobile)
    display block
    height auto
    padding 0
    margin 20px 0

.message
  display table-cell
  vertical-align middle
  text-align center
  font-size 0
  position relative

  +bp(mobile)
    display block

.message-body
  margin 0 72px
  cursor text

  +bp(mobile)
    margin 0 20px

  img
    width auto

  span
    display inline-block
    padding 0 10px

    &.space
      width 0
      padding 0


    strong
      display inline-block
      position relative

      &.with-carret
        &:after
          content ''
          position absolute
          top 10%
          bottom 13%
          right -3px
          width 3px
          background $c-link
          animation cursor 2s linear 0s infinite
          z-index 10

    i
      display inline-block
      overflow hidden

      img
        height auto

.message-navigation
  .action
    position absolute
    top 50%
    margin -16px 0 0

    &-left
      left 16px

    &-right
      right 16px

    +bp(mobile)
      position relative
      top 0
      margin 10px 25px
      display inline-block
      left auto
      right auto

.footer
  height 195px
  text-align center
  overflow hidden
  position relative

  +bp(mobile)
    height 320px

  .footer-clearfix
    display table
    clear both

  .footer-inner
    position absolute
    top 0
    left 0
    width 300%
    height @height

    +bp(mobile)
      height 300px

  .footer-block
    width 33.3%
    height @height
    float left

    +bp(mobile)
      height 300px

  .from-to
    font-size 16px
    height 21px
    // padding-top 10px
    color $c-link

    +bp(mobile)
      height auto

    .edit-block
      white-space no-wrap

      +bp(mobile)
        padding 6px 0
        display inline-block

    input
      border 0
      border-bottom 1px solid $c-link
      background transparent
      font-size 16px
      font-weight bold
      color $c-link
      width auto
      display inline-block

      &.has-content
        border-color transparent

      &:focus
        border-color $c-link
        outline none

    span
      padding 0 17px
    i
      padding-right 3px
    strong
      font-weight bold

  .try-out
    a
      display inline-block
      margin 61px 0 0
      text-decoration none
      color $c-text
      border 1px solid $c-text
      padding 12px 44px 10px
      border-radius 19px

      &:hover,
      &:active,
      &:focus
        color $c-link
        border-color $c-link

  .actions
    text-align center
    margin 64px 0 0

  // >>
  .action-wrapper
    display inline-block
    position relative

    &:hover:not(.no-hover) .action-box,
    .action-box.active
      display block
      bottom 78px
      opacity 1

  // >>
  .action
    display inline-block
    text-decoration none
    color $c-text
    margin 0 40px
    cursor pointer

    +bp(mobile)
      margin 0 10px

    &.active,
    &:hover
      color $c-link

    .icon
      //

    .text
      display inline-block
      padding 7px 0 0
      text-decoration none
      font-size 12px

  .navigation
    max-width 940px
    margin 0 auto

    .action-wrapper,
    .action,
    .action-content
      display inline-block
      vertical-align top

    .action
      position relative
      margin 0 20px
      padding-top 63px
      z-index 2

      +bp(mobile)
        padding-top 35px

      +bp(desktop large)
        margin 0 40px

    .action-content
      position relative
      display inline-block
      width 460px
      margin 0 -37px 0 -57px
      padding-left 20px
      text-align left
      z-index 1
      overflow hidden
      height 174px

      +bp(mobile)
        width 100%

      .action-content-inner
        position absolute
        top 0
        left 0
        width 500%

      .content-wrapper
        width 20%
        height 174px
        float left
        display flex

        &.active
          .caption
            opacity 1

        .caption
          opacity 0
          flex-shrink 0
          flex-grow 0

        .content
          flex-grow 1

          +bp(mobile)
            margin-right 10px

      .caption
        display inline-block
        width 200px
        height 160px
        float left
        margin 0 -7px 0 -7px
        background-image url('../img/zahar-sprite.jpg')
        background-size 200px 1000px
        background-position 0 -27px

        &.caption-type1
          background-position 0 -27px
        &.caption-type2
          background-position 0 -227px
        &.caption-type3
          background-position 0 -427px
        &.caption-type4
          background-position 0 -627px
        &.caption-type5
          background-position 0 -827px

      .content
        display inline-block
        width 267px
        float left
        color $c-text
        font-size 12px

        .title
          font-size 17px
          color $c-link
          padding 50px 0 0

        .text
          padding 10px 0 0
          line-height 1.3

  #textarea
    position absolute
    top 0
    left -9999px

.action-box
  position absolute
  bottom 68px
  left 50%
  right 0
  border 1px solid $c-text
  width 172px
  margin-left -86px
  border-radius 4px
  background rgba(#EEEBDE, 0.8)
  transition .2s ease-in-out all
  opacity 0
  z-index 3

  .arrow
    position absolute
    bottom -8px
    left 50%
    height 8px
    width 16px
    margin-left -8px
    overflow hidden

    &:after
      content ''
      position absolute
      bottom 2px
      left 1px
      width 12px
      height 12px
      border 1px solid $c-text
      border-radius 3px
      transform: rotate(45deg)
      background #edeade

  .alert
    padding 10px

  input
    display block
    box-sizing border-box
    margin 9px
    width @width - (@margin * 2)
    // height 94px
    padding 5px 8px
    font-size 11.5px
    line-height 1.45
    color $c-text-dark
    border 1px solid $c-text
    border-radius 4px
    background none
    resize none

    &:focus
      outline none
      border-color $c-link

  button
    border 1px solid $c-text
    background none
    padding 2px 10px
    font-size 12px
    color $c-text
    border-radius 3px
    margin-bottom 9px

    &:hover,
    &:focus
      border-color $c-link
      color $c-link
      cursor pointer
      outline none

.icon
  display inline-block
  background url('../img/icons-sprite.png')
  width 38px
  height 38px
  background-size 76px 304px
  background-repeat no-repeat
  background-position -38px 0

  &:hover,
  &.active
    background-position 0 0

  &.icon-chevron-left
    background-position -38px 0
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 0

  &.icon-chevron-right
    background-position -38px -38px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -38px

  &.icon-edit
    background-position -38px -76px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -76px

  &.icon-share
    background-position -38px -114px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -114px

  &.icon-email
    background-position -38px -152px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -152px

  &.icon-facebook
    background-position -38px -190px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -190px

  &.icon-ok
    background-position -38px -228px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -228px

  &.icon-help
    background-position -38px -266px
    &:hover,
    &:focus,
    &.active,
    .action:hover &,
    .action:focus &,
    .action.active &
      background-position 0 -266px

.preload
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background #eeebdf
  z-index 100

  .preload-progress
    position absolute
    top 50%
    left 50%
    width 356px
    height 182px
    margin-left -(@width / 2)
    margin-top -(@height / 2)

    &:before
      content ''
      position absolute
      top 0
      left 0
      width 356px
      height 182px
      background url('../img/logo.jpg')
      background-size 356px 182px
      opacity 0.3

  .preload-progress-done
    position absolute
    top 0
    left 0
    width 356px
    height 182px
    background url('../img/logo.jpg')
    background-size 356px 182px
    opacity 1
