$c-bg = #F0ECE3
$c-text = #8F8F8F
$c-link = #A97C50
$c-text-dark = #515151

$z-index-action-content = 1
$z-index-action = 2
$z-index-action-box = 3
$z-index-carret = 10
$z-index-overlay = 20
$z-index-overlay-component = 25
$z-index-preload = 100
